body{
  background-color: #d6d9d0;
  /*padding-bottom: 50px;*/
  margin: 0;
  font-family: helvetica;
  height: 100%;
}

html{
  margin: 0;
  height: 100%;
}

#head{
  text-align: center; 
}

input{
	/*background-color: white;*/
	color: black;
}

.tabtab{
  font-size: medium;
}

#information {
  padding: 50px;
  border-radius: 4px;
  background-color: whitesmoke;
}

#button{
  margin-top: 3%;
  padding-top: 25px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 25px;
  font-size: large;
}

#head{
  text-align: center;
  margin-bottom: 5%;
}

#information_card1{
  /*background-color: green;*/
  /*margin-top: 20px;*/
  margin-right: 10%;
  margin-left: 10%;
  /*padding: 5%;*/
  border-radius: 4px;
  margin-bottom: 40px;
}

#information_card2{
  /*padding: 5%;*/
  border-radius: 4px;
}
paper-checkbox {
  padding: 20px 20px 20px 0;
}

.text-choice{
  /*margin-left: 30%;*/
  text-align: center;
  
}

#choice{
  display: inline-block;
}

paper-dropdown-menu{
  background: transparent;
}



.errorlist{
  display: inline-block;
  list-style-type: asterisks;
}
.colored{
  color: #008A9F;
}

#navbar{
  display: block;
  position: fixed;

}


core-header-panel {
  height: 100%;
}
    body {
      font-family: sans-serif;
    }

    core-header-panel {
      /*float: left;*/
      /*width: 360px;*/
      /*height: 400px;*/
      /*margin: 5px;*/
    }
    
    core-header-panel[mode=cover]::shadow #mainContainer {
      left: 70px;
    }

    .core-header {
      height: 70px;
      /*line-height: 60px;*/
      /*font-size: 18px;*/
      /*padding: 0 10px;*/
      /*background-color: #d6d9d0;*/
      /*color: #FFF;*/
      transition: height 0.2s;
    }
    
    .core-header.tall {
      height: 180px;
    }
    
    .core-header.medium-tall {
      height: 170px;
    }

    .content {
      padding-top: 40px;
      padding-bottom: 20px;
      /*height: 2000px;*/
      background-color: #d6d9d0;
      /*background: linear-gradient(rgb(214, 227, 231), lightblue);*/
      /*background: linear-gradient(gray, white);*/
    }

.bt-nav{
  /*text-transform: initial;
  border-color: white;
  border-radius: 8px;
  border-width: thin;
  border-style: solid;*/
  font-size: small;
  /*background-color: gray;*/
}


@media (max-width: 500px){
  body{
    min-width: 300px;
  }
  paper-input{
    width: 250px;
  }

  #information {
    /*min-width: 350px;*/
    padding: 10px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    background-color: whitesmoke;
  }

  #information_card1{
  /*background-color: green;*/
  /*margin-top: 20px;*/
  /*margin: 0;*/
  margin-right: 10px;
  margin-left: 10px;
  /*margin-bottom: 20px;*/
  /*padding: 5%;*/
  border-radius: 4px;
}
  #button{
  margin-top: 3%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 40%;
  padding-right: 40%;
  font-size: large;
  }
}