<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>For staff</title>
	<script src="/static/bootstrap/js/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/static/images/logo-color.ico">
</head>
<body>

    <div style="margin: 20px;">
	{% csrf_token %}
	<input id="identity_card" type="text" class="form-control" value='{{ id_card}}'style="width: 200px; display: inline-block">
    <button id='b1' class="btn btn-primary">check</button>
    <br>
    <br>
	<div id="con"></div>
    </div>
	<script type="text/javascript">
		$('#b1').click(function(){
        // setTimeout(function(){
          // window.location.href = '{% url "home" %}';
          $.ajax({
                 type:"POST",
                 url:"{% url 'showUser' %}",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        'identity_card' : $('#identity_card').val(),
                        },
                 success: function(data){
                  // setTimeout(function(){
                        // stuff();
                        // setTimeout(function(){
                            $('#con').html(data);
                        //     stuff();
                        // }, 300);
                    // }, 400);
                      // $('#information').html(data);
                 }
            });
        // }, 1000);
    });

	</script>
</body>
</html>