<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/images/logo-color.ico">
    {# // <script src="/static/bower_components/pointerevents-polyfill/pointerevents.min.js"></script> #}
    {# <link rel="icon" href="../../favicon.ico"> #}

    <title>Barcamp5: KUWIN registration</title>

    <!-- Bootstrap core CSS -->
    {# <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"> #}

    <!-- Custom styles for this template -->
    {# <link href="/static/css/cover.css" rel="stylesheet"> #}

    
    {# <link href="/static/css/cover.css" rel="stylesheet"> #}
    <!-- Custom styles for {# this #} template -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    {# // <script src="../../assets/js/ie-emulation-modes-warning.js"></script> #}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script type="text/javascript">
     // $(document).ready(function(){alert("dddd");});
    </script>
  </head>

  <body>
  <div id="overlay" style="background-color: black; margin: 0; width: 100%; height: 100%; position: absolute; z-index: 1;">
     {# <img src="loading.gif" alt="Loading" /> #}
     <div style="text-align: center; color: white; padding-top: 25%;">
     <h2  style='font-family: helvetica;'>Loading...</h2>
     </div>
  </div>
  <div>
    <script src="/static/bower_components/platform/platform.js"></script>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    {# // <script src="/static/bootstrap/js/jquery.mobile.min.js"></script> #}
    {# // <script src="/static/bootstrap/js/bootstrap.min.js"></script> #}

    {% block import %}
    {% endblock import %}
    <link href="/static/bower_components/font-roboto/roboto.html" rel="import">
    <link href="/static/bower_components/paper-button/paper-button.html" rel="import">
    <link href="/static/bower_components/paper-input/paper-input.html" rel="import">
    <link href="/static/bower_components/core-input/core-input.html" rel="import">
    <link href="/static/bower_components/core-toolbar/core-toolbar.html" rel="import">
    <link href="/static/bower_components/core-media-query/core-media-query.html" rel="import">
    <link href="/static/bower_components/paper-icon-button/paper-icon-button.html" rel="import">
    <link href="/static/bower_components/core-icon-button/core-icon-button.html" rel="import">
    <link href="/static/bower_components/core-toolbar/core-toolbar.html" rel="import">
    <link href="/static/bower_components/paper-tabs/paper-tabs.html" rel="import">

    <link href="/static/bower_components/core-meta/core-meta.html" rel="import">    
    <link href="/static/bower_components/core-transition/core-transition-css.html" rel="import">   
    {# <link href="/static/bower_components/paper-shadow/paper-shadow.html" rel="import"> #}
    <link href="/static/bower_components/paper-shadow/paper-shadow.css" rel="stylesheet">
    <link href="/static/bower_components/paper-checkbox/paper-checkbox.html" rel="import">
    <link href="/static/bower_components/paper-toast/paper-toast.html" rel="import">

    <link href="/static/bower_components/paper-item/paper-item.html" rel="import">
    <link href="/static/bower_components/paper-dropdown-menu/paper-dropdown-menu.html" rel="import">
    <link href="/static/bower_components/core-header-panel/core-header-panel.html" rel="import">
    <link href="/static/bower_components/paper-menu-button/paper-menu-button.html" rel="import">

    <link href="/static/css/register.css" rel="stylesheet">

  </div>

<core-header-panel id='main'>
    <div class="core-header"> 
    <core-toolbar style="background: #3b5a76; color: #fff; fill: #fff; height: 70px;">
    
    
    <span class="top">Barcamp5</span>
    {# <paper-icon-button icon="refresh" class="top" id='refresh_button'></paper-icon-button> #}

    <div style="margin-left: auto;">
      <paper-button class='bt-nav' id='link_home'>Home</paper-button>
      {# <paper-button class='bt-nav' id='link_contact'>Contact</paper-button> #}
    </div>

  </core-toolbar>
  </div>
    <div class="content">  
    {# <div id="information_card1"> #}
  <div class="paper-shadow-top-z-1" id="information_card1">
  <div class="paper-shadow-bottom-z-1" id="information_card2">
  <div id='information' hidden>
      {# <paper-shadow z="1"> #}
    {% block head %}
    {% endblock %}
    {% block detail %}
    {% endblock %}
    {% block text_button_regis %}
    {% endblock %}
    {# </paper-shadow> #}
  </div>
  </div>
  </div>
  {# </div> #}
  {# </paper-shadow> #}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {# // <script src="../../assets/js/docs.min.js"></script> #}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    {# // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> #}
    {# <link href="/static/css/register.css" rel="stylesheet">     #}

    {# <link href="/static/angularjs/angular.min.js" rel="stylesheet">     #}
    {% csrf_token %}
    </div>
  </core-header-panel>


{# <core-scroll-header-panel fixed> #}

    {# <core-toolbar  class="medium-tall" style="background: #3b5a76; color: #fff; fill: #fff; box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);"> #}
    {# <paper-icon-button icon="menu" class="top"></paper-icon-button> #}
    {# <span flex class="top">Barcamp5</span> #}
    {# <paper-icon-button icon="refresh" class="top" id='refresh_button'></paper-icon-button> #}
    {# <paper-icon-button icon="more-vert" clickass="top"></paper-icon-button> #}
  {# </core-toolbar>  #}

   {#  <core-toolbar  class="medium-tall" style="background: #3b5a76; color: #fff; fill: #fff; height: 48px; box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);"> #}
    {# <paper-icon-button icon="menu" class="top"></paper-icon-button> #}
    {# <span flex class="top">Barcamp5</span> #}
    {# <paper-icon-button icon="refresh" class="top" id='refresh_button'></paper-icon-button> #}
    {# <paper-icon-button icon="more-vert" clickass="top"></paper-icon-button> #}


    {# <div class="bottom fit" horizontal layout > #}
      {# <paper-tabs selected="0" flex style="max-width: 600px;"> #}
      {# <div horizontal> #}
        {# <paper-tab class='tabtab' id='link_home'>Home</paper-tab> #}
        {# <paper-tab class='tabtab' id='link_contact'>Contact</paper-tab> #}
      {# </div> #}
      {# </paper-tabs> #}
    {# </div> #}
  {# </core-toolbar> #}

  {# <div content> #}
 

{# </core-scroll-header-panel> #}
  </body>
  <script type="text/javascript">
    $.ajax({
                 type:"POST",
                 url:"/regis2/",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        'status' : 'check',
                        },
                 success: function(data){
                      $('#information').html(data);
                 }

            });
    $('#link_home').click(function(){
        // setTimeout(function(){
          // window.location.href = '{% url "home" %}';
          $.ajax({
                 type:"POST",
                 url:"/regis2/",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        },
                 success: function(data){
                  // setTimeout(function(){
                        stuff();
                        setTimeout(function(){
                            $('#information').html(data);
                            stuff();
                        }, 300);
                    // }, 400);
                      // $('#information').html(data);
                 }
            });
        // }, 1000);
    });
    // $('#link_contact').click(function(){
    //     // setTimeout(function(){
          
    //       $.ajax({
    //              type:"POST",
    //              url:"/contact2/",
    //              data: {  
    //                     'csrfmiddlewaretoken' : '{{csrf_token}}',
    //                     },
    //              success: function(data){
    //                   // setTimeout(function(){
    //                     stuff();
    //                     setTimeout(function(){
    //                         $('#information').html(data);
    //                         stuff();
    //                     }, 300);
    //                 // }, 400);
    //              }
    //         });
    //     // }, 1000);
    // });

    $('#refresh_button').click(function(){
      setTimeout(function(){
        location.reload(true);
      }, 400);
    });




  </script>

  <script type="text/javascript">
    document.addEventListener('polymer-ready', function() {
          // initial setup
          setup();
          document.getElementById('information').removeAttribute('hidden');
          // $('#information').ready(function(){
            if (state.opened == false){
              stuff();
            }  
          // });
    });

    var meta;
    var transition;
    // var transition2;
    // var transition3;
    var state = {
      opened: false
    }

    function getMeta() {
      if (!meta) {
        meta = document.createElement('core-meta');
        meta.type = 'transition';
      }
      return meta;
    }

    function setup() {
      var target = document.getElementById('information');
      var target2 = document.getElementById('information_card1');
      var target3 = document.getElementById('information_card2');
      if (transition) {
        transition.teardown(target);
      }
      var value = 'core-transition-center';
      transition = getMeta().byId(value);
      transition2 = getMeta().byId(value);
      transition3 = getMeta().byId(value);
      transition.setup(target);
      transition.setup(target2);
      transition.setup(target3);

    }

    function stuff() {
      var target = document.getElementById('information');
      var target2 = document.getElementById('information_card1');
      var target3 = document.getElementById('information_card2');
      state.opened = !state.opened;
      transition.go(target, state);
      transition.go(target2, state);
      transition.go(target3, state);
    }

</script>

<script type="text/javascript">
  // document.getElementById('dir').addEventListener('pointerup');
  window.addEventListener('HTMLImportsLoaded', function(e) {
  // all imports loaded
  // document.getElementById('main').removeAttribute('hidden');
  $('#overlay').fadeOut(1000);

});

   // PAGE IS FULLY LOADED  
   // FADE OUT YOUR OVERLAYING DI

</script>

</html>