<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>For staff</title>
  {% load staticfiles %}

  <script src='{% static "bootstrap/js/jquery.min.js" %}'></script>
  <link rel="stylesheet" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
  <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
  <link rel="stylesheet" href='{% static "css/activate2.css" %}'>
  <link rel="shortcut icon" href='{% static "images/logo-color.ico" %}'>

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/activate2">
        <p>Barcamp5</p>
        {# <img alt="Brand" src="/static/images/logo.png"> #}
      </a>
    </div>
  </div>
</nav>
{% block content %}
{% endblock %}



</body>
</html>