{% block import %}
{% endblock import %}
{% block head %}
<div id="head">
<h1>Contact</h1>
</div>
{% endblock %}

{% block detail %}
<div align="center">
<p>ติดต่อได่ที่ IUP ชั้น 2</p>
</div>
{# <paper-input label="Type something" value="Prefilled value"></paper-input> #}

{% endblock %}