{% extends 'base.html' %}


{% block import %}
{% endblock import %}
{% block head %}
<h1>Contact</h1>
{% endblock %}

{% block detail %}
<p>ติดต่อได่ที่ IUP ชั้น 2</p>
{# <paper-input label="Type something" value="Prefilled value"></paper-input> #}

{% endblock %}