<div id='head'>
<h1>Registration progress is complete</h1>
</div>
<p>Let's adventure together</p>

<script type="text/javascript">
	// $('#button').click(function(event) {
        setTimeout(function(){
        $.ajax({
                 type:"POST",
                 url:"/regis2/",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        'status' : 'load',
                        },
                 success: function(data){
                    // setTimeout(function(){
                        stuff();
                        setTimeout(function(){
                            $('#information').html(data);
                            stuff();
                        }, 300);
                    // }, 4000);
                 }
            });
    }, 2000);

    // });

</script>