{% extends 'base-activate2.html' %}

{% block content %}
<div>
<div style="margin: 20px; display: inline-block; text-align: end;">
<form method="POST" id='information'>
	{% csrf_token %}
	{% if check1 %}
		<p>*This ID card has already been used</p>
	{% endif %}
	{% if check2 %}
		<p>*This MAC has already been used</p>
	{% endif %}
	{{ form.as_p }}
	<button type="submit" class='btn btn-default'>Save</button>
</form>
</div>

<div style="display: inline-block; position: absolute;">
<iframe src="../activate" style="width: 400px; height: 400px; border: none;"></iframe>
</div>
</div>

{% endblock content %}