
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/static/bower_components/platform/platform.js"></script>
    <script type="text/javascript">
       
    </script>
    <!-- {# <link rel="icon" href="../../favicon.ico"> #} -->

    <title>Barcamp5: KUWIN registration</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- {# <link href="/static/css/cover.css" rel="stylesheet"> #} -->

    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <link href="/static/bower_components/font-roboto/roboto.html" rel="import">
    <link href="/static/bower_components/paper-button/paper-button.html" rel="import">
    <link href="/static/bower_components/paper-input/paper-input.html" rel="import">
    <link href="/static/bower_components/core-input/core-input.html" rel="import">
    <link href="/static/bower_components/core-toolbar/core-toolbar.html" rel="import">
    <link href="/static/bower_components/core-media-query/core-media-query.html" rel="import">
    <link href="/static/bower_components/paper-icon-button/paper-icon-button.html" rel="import">
    <link href="/static/bower_components/core-toolbar/core-toolbar.html" rel="import">
    <link href="/static/bower_components/paper-tabs/paper-tabs.html" rel="import">
    <link href="/static/css/register.css" rel="stylesheet">

    <link href="/static/bower_components/core-meta/core-meta.html" rel="import">    
    <link href="/static/bower_components/core-transition/core-transition-css.html" rel="import">   
    <!-- {# <link href="/static/bower_components/paper-shadow/paper-shadow.html" rel="import"> #} -->
    <link href="/static/bower_components/paper-shadow/paper-shadow.css" rel="stylesheet">
    <link href="/static/bower_components/paper-checkbox/paper-checkbox.html" rel="import">
    <link href="/static/bower_components/paper-toast/paper-toast.html" rel="import">
    <!-- {# <link href="/static/css/cover.css" rel="stylesheet"> #} -->
    <!-- Custom styles for {# this #} template -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- {# // <script src="../../assets/js/ie-emulation-modes-warning.js"></script> #} -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
