<div align="center">
<div id='head'>
<h1>KUWIN registration (step:3/3)</h1>
</div>
<div align="left" style="display: inline-block;">
<section>
        OS:
        <paper-dropdown-menu valign="top" valueattr="label" label="operating system" selected="">
          <paper-item label="Windows RT"></paper-item>
          <paper-item label="Windows 8"></paper-item>
          <paper-item label="Windows 7"></paper-item>
          <paper-item label="Windows Vista"></paper-item>
        </paper-dropdown-menu>
</section>

<section>
        Type:
        <paper-dropdown-menu valign="top" valueattr="label" label="type" selected="">
          <paper-item label="Notebook"></paper-item>
          <paper-item label="PC"></paper-item>
          <paper-item label="Phone-Tablet"></paper-item>
        </paper-dropdown-menu>
</section>

<paper-input floatingLabel label="Phone number" id='phone_number'></paper-input>
<paper-input floatingLabel label="Email" id='email'></paper-input>
</div>
</div>
ชื่อ/หมายเลขอาคาร
อีเมล์หลัก