{% block import %}
{% endblock import %}

{% block head %}
<div id='head'>
<h1>KUWIN registration</h1>
</div>
{% endblock %}

{% block detail %}
<div align="center">
<h2>ข้อตกลงการใช้งาน</h2>
<div style="display: inline-block; text-align: left">
<ul>
    <li>1. ลงทะเบียนโดยใช้รหัสบัตรประชาชนจริง ชื่อจริง นามสกุลจริง และอื่นๆตามความเป้นจริง</li>
    <li>2. ยืนบัตรประชาชนที่เคาเตอร์</li>
    <li>หากต้องการเปลี่ยน MAC address ภายหลัง สามารถเข้าไปได้ที่ https://smart.ku.ac.th หรือติดต่อเจ้าหน้าที่</li>
</ul>
</div>
</div>
{% endblock %}

{% block text_button_regis %}
<div align="center">
<paper-button raised id='button'>Next</paper-button>
</div>
<script type="text/javascript">
	$('#button').click(function(event) {
        // setTimeout(function(){
        $.ajax({
                 type:"POST",
                 url:"/register2/",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        'status' : 'load',
                        },
                 success: function(data){
                    // setTimeout(function(){
                        stuff();
                        setTimeout(function(){
                            $('#information').html(data);
                            stuff();
                        }, 300);
                    // }, 4000);
                 }
            });
    // }, 400);

    });

</script>
</body>
{% endblock %}