
<div id='head'>
<h1>KUWIN registration (step:1/3)</h1>
</div>


{% csrf_token %}

<div align="center" id="card">

<paper-input floatingLabel label="Firstname" id='firstname' value={{firstname}}></paper-input>
{{ form.firstname.errors }} 
<paper-input floatingLabel label="Lastname" id='lastname' value={{lastname}}></paper-input>
{{ form.lastname.errors }} 

<paper-input floatingLabel label="Identity card" id='identity_card' value ={{identityCard}}></paper-input>  
{% if check1 %}
<ul class='errorlist'>
<li class = 'used'>
This identity card is enrolled.
</li>
</ul>
{% endif %}

{{ form.identity_card.errors }}  

<paper-input floatingLabel label="Email" id='email' type='email' value={{email}}></paper-input>
{{ form.email.errors }}  
<paper-input floatingLabel label="Phone" id='phone' value={{phone}}></paper-input>
{{ form.phone.errors }}

<paper-input floatingLabel label="MAC address" id="MAC_address" name="MAC_address" type="text" value={{MACaddress}}></paper-input>
{% if check2 %}
<ul class='errorlist'>
<li class= 'used'>
This MAC address is enrolled.
</li>
</ul>
{% endif %}
{{ form.MAC_address.errors }}
<div>
<paper-button class="colored custom" id="getMAC">
    <core-icon icon="swap-horiz"></core-icon>
    auto fill MAC
</paper-button>
</div>

<div align="left" style="display: inline-block;">
<section>
        OS:
        <paper-dropdown-menu id='os' valign="top" valueattr="label" label="operating system" selected="{{os}}">
          <paper-item value='1008' label='Windows RT'></paper-item>
          <paper-item value='1007' label='Windows 8'></paper-item>
          <paper-item value='1000' label='Windows 7'></paper-item>
          <paper-item value='21' label='Windows Vista'></paper-item>
          <paper-item value='1002' label='Windows 2008'></paper-item>
          <paper-item value='1' label='Windows XP'></paper-item>
          <paper-item value='3' label='Windows 2003'></paper-item>
          <paper-item value='2' label='Windows 2000'></paper-item>
          <paper-item value='4' label='Windows NT'></paper-item>
          <paper-item value='5' label='Windows ME'></paper-item>
          <paper-item value='6' label='Windows 98'></paper-item>
          <paper-item value='7' label='Windows 95'></paper-item>
          <paper-item value='8' label='Windows 3.1'></paper-item>
          <paper-item value='9' label='Windows CE'></paper-item>
          <paper-item value='10' label='Pocket PC'></paper-item>
          <paper-item value='1005' label='Android'></paper-item>
          <paper-item value='1006' label='Bada'></paper-item>
          <paper-item value='11' label='Linux'></paper-item>
          <paper-item value='1003' label='iPhone OS'></paper-item>
          <paper-item value='12' label='Palm OS'></paper-item>
          <paper-item value='13' label='Symbian OS'></paper-item>
          <paper-item value='14' label='Mac OS'></paper-item>
          <paper-item value='15' label='BSD Family'></paper-item>
          <paper-item value='16' label='Solaris'></paper-item>
          <paper-item value='17' label='AIX'></paper-item>
          <paper-item value='18' label='Unix (Other)'></paper-item>
          <paper-item value='19' label='IOS'></paper-item>
          <paper-item value='1004' label='Blackberry OS'></paper-item>
          <paper-item value='20' label='DOS'></paper-item>
          <paper-item value='999' label='Other'></paper-item> 
        </paper-dropdown-menu>
        {{ form.os.errors }}  
        <paper-toast id="warningOS" text="Please select in OS list."></paper-toast>
</section>

<section>
        Type:
        <paper-dropdown-menu id='type' valign="top" valueattr="label" label="type" selected='{{typeDevice}}'>
          <paper-item value='9' label="Notebook"></paper-item>
          <paper-item value='10' label="PC"></paper-item>
          {# <paper-item value='20' label="Phone-Tablet"></paper-item> #}
        </paper-dropdown-menu>
        {{ form.typeDevice.errors }}  
        <paper-toast id="warningType" text="Please select in type list."></paper-toast>
</section>

</div>



<br>
<paper-button raised id='button'>Next</paper-button>

<script type="text/javascript">
	$('#button').click(function() {
        // setTimeout(function(){
        var check1 = document.getElementById('os').selectedItem == null;
        var check2 = document.getElementById('type').selectedItem == null;
        if (check1){
            document.querySelector('#warningOS').show();
            return;
        }
        if (check2){
            document.querySelector('#warningType').show();
            return;
        }

			$.ajax({
                 type:"POST",
                 url:"/register2/",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        'status' : 'check',
                        'firstname' : $('#firstname').val(),
                        'lastname' : $('#lastname').val(),
                        'email' : $('#email').val(),
                        'phone' : $('#phone').val(),
                        'identity_card' : $('#identity_card').val(),
                        'MAC_address' :  $('#MAC_address').val(),
                        'os' : document.getElementById('os').selectedItem.label,
                        'typeDevice' : document.getElementById('type').selectedItem.label,
                        },
                 success: function(data){
                       // setTimeout(function(){
                        stuff();
                        setTimeout(function(){
                            $('#information').html(data);
                            stuff();
                        }, 300);
                    // }, 400);
                 }

            });
    // }, 400);
	});
        $('#getMAC').click(function() {
        // setTimeout(function(){
            $.ajax({
                 type:"POST",
                 url:"{% url 'get_MAC_address' %}",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        },
                 success: function(data){
                       // setTimeout(function(){
                        stuff();
                        setTimeout(function(){
                            $('#MAC_address').val(data);
                            stuff();
                        }, 300);
                    // }, 400);
                 }

            });
    // }, 400);
    });

</script>
</div>