<div id='head'>
<h1>KUWIN registration (step:2/3)</h1>
</div>

<div class='text-choice'>
<p>คุณได้รับ</p>
<p>ID: barcamp0</p>
<p>กรุณาแสดงหน้านี้ให้ staff พร้อมบัตรประชาชน หรือหลักฐานอื่นๆ</p>
<h3>Select your choice</h3>
<div id='choice'>
  <div horizontal layout>
    <paper-checkbox id='choice1'></paper-checkbox>
    <div vertical layout>
      <h4>ลงทะเบียน smart ku ผ่าน เว็บนี้</h4>
      <div>คุณจำเป็นต้องกรอกข้อมูลเพิ่มเติม</div>
    </div>
  </div>
  <div horizontal layout>
    <paper-checkbox id='choice2'></paper-checkbox>
    <div vertical layout>
      <h4>ลงทะเบียน ด้วยต้นเอง</h4>
      <div>การดำเนินการจะเส็จสิ้นทันที</div>
    </div>
  </div>
  </div>
</div>
<div align="center">
<paper-button raised id='button'>Next</paper-button>
<div>
<paper-toast id="warning" text="Please check only one."></paper-toast>
<script type="text/javascript">
	$('#button').click(function() {
		var check1 = $('#choice1').attr('checked');
	 	var check2 = $('#choice2').attr('checked');
	 	var path;
	 	if ((check1 == null && check2 == null )||(check1 == check2)){
	 		console.log('gg');
	 		document.querySelector('#warning').show();
	 		return;
	 	}
	 	else if (check1 == 'checked'){
	 		var path = '{% url "moreInformation" %}';
	 	}
	 	else if (check2 == 'checked'){
	 		var path = '{% url "endRegister" %}';
	 	}
        // setTimeout(function(){
			$.ajax({
                 type:"POST",
                 url: path,
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        },
                 success: function(data){
                       // setTimeout(function(){
                        stuff();
                        setTimeout(function(){
                            $('#information').html(data);
                            stuff();
                        }, 300);
                    // }, 400);
                 }

            });
    // }, 400);
	});

	$('#button2').click(function() {
        // setTimeout(function(){
			$.ajax({
                 type:"POST",
                 url:"/end-register/",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        },
                 success: function(data){
                       // setTimeout(function(){
                        stuff();
                        setTimeout(function(){
                            $('#information').html(data);
                            stuff();
                        }, 300);
                    // }, 400);
                 }

            });
    // }, 400);
	});
	$('#button1').click(function() {
        // setTimeout(function(){
			$.ajax({
                 type:"POST",
                 url:"/more-i	nformation/",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        },
                 success: function(data){
                       // setTimeout(function(){
                        stuff();
                        setTimeout(function(){
                            $('#information').html(data);
                            stuff();
                        }, 300);
                    // }, 400);
                 }

            });
    // }, 400);
	});



</script>