{% extends 'base.html' %}

{% block import %}
{% endblock import %}

{% block head %}
<h1>KUWIN Register<h1>
{% endblock %}

{% block detail %}
<p>บราบราบราบราบราบราบราบราบราบราบราบราบราบราบรา<p>
{% endblock %}

{% block text_button_regis %}
<p class="lead">
<paper-button raised id='button'>Next</paper-button>
<script type="text/javascript">
// $(document).ready();
	// $( window ).load();
	$('#button').click(function(event) {
        setTimeout(function(){
        $.ajax({
                 type:"POST",
                 url:"/register2/",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        },
                 success: function(data){
                      $('#information').html(data);
                 }
            });
    }, 400);

    });

</script>
</p>
</body>
{% endblock %}