{% extends 'base.html' %}

{% block import %}
{% endblock %}

{% block head %}
<div id='head'>
<h1>KUWIN registration (step:1/1)</h1>
</div>
{% endblock %}

{% block detail %}
{% if check1 %}
<p class = 'used'>
{# <p class="bg-danger"> #}
This identity card is enrolled.
</p>
{% endif %}
{% if check2 %}
<p class= 'used'>
{# <p class="bg-danger"> #}
This MAC address is enrolled.
</p>
{% endif %}

<div align="center" id="card">
<form method='POST' action='.' style="padding: 20px;" id='e1'>
{# {{ form.as_p }} #}
{% csrf_token %}
<div  style="display: none;">
{{ form.as_p}}
</div>
{{ form.Identity_card.errors }}	
<paper-input floatingLabel label="ID" id='id'></paper-input>
<br>    
{{ form.MAC_address.errors }}
<paper-input floatingLabel label="MAC address" value={{mac}} id="id_MAC_address" name="MAC_address" type="text" readonly="true"></paper-input>
<br>
<paper-button id='button'>Next</paper-button>
</form>
<script type="text/javascript">
	$('#button').click(function(event) {
        setTimeout(function(){
        $('#id_Identity_card').val($('#id').val());
		$('#e1').submit();
    }, 400);
	});
</script>
</div>
{% endblock %}