<p>Status enroll: {{result}}</p>


<script type="text/javascript">
	if ({{check}}){
		$('#status-user').html('<p class="alert alert-success" style="display: inline-block">Activate</p>');
		// $('#status-user').attr("alert-danger", "alert-success");
	}

</script>