{# <div class="jumbotron"> #}
<h3>{{fullname}}</h3>
{% if error %}
    <p class="alert alert-danger" style="display: inline-block">Not found</p>
{% else %}
{% if confirmation %}
	<div id='status-user'>
    <p class="alert alert-success" style="display: inline-block">Activate</p>
    </div>
    {# <span class="label label-success">Activate< #}
{% else %}
    <div id='status-user'>
	<p class="alert alert-danger" style="display: inline-block">Deactivate</p>
    </div>
{% endif %}

<input id="id" type="text" class="form-control"  placeholder='id' style="width: 200px;"> 
<br>
<input id="password" type="password" class="form-control" placeholder='password' style="width: 200px;">
<br>

<div>
<button id='b2' class="btn btn-default">enroll</button>
<button id='b3' class="btn btn-default">count</button>
{# <button id='b5' class="btn btn-default">clear</button> #}
{# <button id='b4' class="btn btn-default">remove</button> #}
</div>
{# </div> #}
<div id='con2'></div>

<script type="text/javascript">
		$('#b2').click(function(){
        // setTimeout(function(){
          // window.location.href = '{% url "home" %}';
          $.ajax({
                 type:"POST",
                 url:"{% url 'enroll' %}",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        'identity_card' : $('#identity_card').val(),
                        'id' : $('#id').val(),
                        'password' : $('#password').val(),
                        },
                 success: function(data){
                  // setTimeout(function(){
                        // stuff();
                        // setTimeout(function(){
                            $('#con2').html(data);
                        //     stuff();
                        // }, 300);
                    // }, 400);
                      // $('#information').html(data);
                 }
            });
        // }, 1000);
    });
		$('#b3').click(function(){
          $.ajax({
                 type:"POST",
                 url:"{% url 'showCount' %}",
                 data: {  
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        'identity_card' : $('#identity_card').val(),
                        'id' : $('#id').val(),
                        'password' : $('#password').val(),
                        },
                 success: function(data){
                  // setTimeout(function(){
                        // stuff();
                        // setTimeout(function(){
                            $('#con2').html(data);
                        //     stuff();
                        // }, 300);
                    // }, 400);
                      // $('#information').html(data);
                 }
            });
        // }, 1000);
    });
{% endif %}